<div class="mainPage">
    <div class="topnav">
        <a href="/">
            <img src="../public/assets/images/logo.png" class="logo">
        </a>
        <a>About</a>
        <a></a>
    </div>
</div>